<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= render "shared/user_info" %>
    </aside>
    <div class="col-md-8">
      <%= render "shared/navigator" %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1><%= t "welcome" %></h1>
    <%= link_to t("signin"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
