<% @user ||= current_user %>
<div class="stats">
  <label>
  <%= link_to t("user_follow.following"),
    relationships_path(id: @user.id, type: "following") %>
  <%= @user.following.count %>
</label>
<label>
  <%= link_to t("user_follow.followers"),
    relationships_path(id: @user.id, type: "followers") %>
  <%= @user.followers.count %>
</label>
</div>
