<div class="row">
  <%= form_for @lesson do |f| %>
    <%= f.fields_for :lesson_words do |lesson_word| %>
      <ul>
        <%= render "lesson_word", f: lesson_word %>
      </ul>
    <% end %>
    <div class="col-md-6 col-md-offset-3">
      <div class="col-md-3 col-md-offset-3">
        <%= f.submit t("controller.lesson.submit"), class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
