<li>
  <strong><%= category.name %></strong>
  <h4><%= category.content %></h4>
  <%= link_to t("category.start"), "#", class: "btn btn-lg btn-primary" %>
  <% if logged_in? && current_user.admin? %>
    <%= link_to t("delete"), "#", method: :delete, data: {confirm:
      t("confirm_delete")}, class: "btn btn-lg btn-primary" %>
  <% end %>
</li>
