<% provide :title, t("category.create_button") %>
<% provide :button_text, t("category.create_button") %>
<h1><%= t "category.create_button" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "form" %>
  </div>
</div>
